.container {
  overflow: visible;
}

.text {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.text > span[data-animate] {
  display: inline-block;
  vertical-align: baseline;
  line-height: 1.4;
}